.Home{

}
.Banner{
    min-height: 700px;
    color:white;
    margin-bottom:100px;
    background-color: #cccccc;
    background-color: #76AFEB;
    opacity: 0.99;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.Banner::after{
    content: "";
    background-image: url("../Images/web.jpg");
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.BannerText{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    width: fit-content;
    padding-top: 474px;
}
.Banner h1{
    text-align: center;
}
.BannerTagline{
    text-align: center;
    font-size: 36px;
    font-weight: 200;
}
.About{
    background-color: white;
    margin: 0px;
    text-align: center;
    margin-bottom: 50px;
    background-color: white;
    min-height: 450px;
    border: 3px double #76AFEB;
    border-radius: 6px;
}

.AboutImage{
    background-image: url('../Images/question.svg');
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: 80%;
    min-height: 450px;
    /* top:-50px; */
    filter: invert(73%) sepia(8%) saturate(4144%) hue-rotate(182deg) brightness(96%) contrast(91%);
}
.AboutImage::after{
    content: "About me";
    font-weight: bolder;
    position: absolute;
    font-size: 45px;
    top: 370px;
    left: 80px;
}
.AboutContent{
    background-color: white;
    text-align: justify;
    font-weight: 450;
    font-size: 17px;
    color: #76AFEB;
    padding:30px;
    
}
.HobbyBanner{
    background-color: white;
    color: #76AFEB;
    text-align: center;
    width: initial;
    height: 250px;
    border: 3px double #76AFEB;
    border-radius: 8px;
    margin-bottom: 50px;
}
.Hobbies{
    background-color: #76AFEB;
    text-align: center;
    color: white;
    border: 10px solid #76AFEB;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.Hobby{

}
.HobbyText{
    text-align: justify;
    font-weight: 500;
}
.HobbyText a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
.HobbyText a:hover{
    text-decoration: underline solid white;
}
.Code{
    background-image: url('../Images/code.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    /* background-attachment: fixed; */
    background-position: center top;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
    color: white;
    height: 105px;
}
.Games{
    background-image: url('../Images/joystick.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center top;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
    color: white;
    height: 105px;
}
.Art{
    background-image: url('../Images/art.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center top;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
    color: white;
    height: 105px;
}
.TimeLine{
    background-color: white;
    color: #EB746C;
    text-align: center;
    width: initial;
    height: 250px;
    border: 3px double hsl(4, 76%, 67%);
    border-radius: 8px;
    margin-bottom: 50px;
}
.TimeLineText{
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-weight: 800;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.Arrow{
    background-image: url('../Images/arrow.svg');
    background-position: center;
    background-repeat: no-repeat, repeat;
    height: 100px;
    margin-bottom: 50px;
    filter: invert(69%) sepia(31%) saturate(5800%) hue-rotate(319deg) brightness(104%) contrast(84%);
}
.IADT{
    margin-bottom: 50px;
}
.CollegeTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-weight: 800;
    color: #EB746C;
    margin-bottom:50px;
    padding-left:45px;
}
.CollegeContent{
    background-color: #EB746C;
    color: #cccccc;
    border: 10px solid #EB746C;
    border-radius: 10px;
    font-weight:600;
    text-align: justify;
}
.CollegeContent h3{
    text-align: center;
}
.CollegeDegree{
    background-image: url('../Images/degree.png');
    background-position: center;
    background-repeat: no-repeat, repeat;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
}
.CollegeDegree::after{
    top: 317px;
    right: 48px;
    content: "Graduated in 2017!";
    text-align: center;
    position: absolute;
    font-weight: bolder;
    font-size: 27px;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
}
.DCU::after{
    content:"Graduated in 2020!";
    color:white;
}
.Present{
    background-image: url('../Images/gear.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat, repeat;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
}
.Present::after{
    top: 256px;
    right: 77px;
    content: "Hard at work!";
    text-align: center;
    position: absolute;
    font-weight: bolder;
    font-size: 27px;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(102%);
}